@{
    ViewData["Title"] = "Purchase Order";
}

<h2>Purchase Order from Wazalo.com</h2>
<br>
@if((bool)ViewData["emailSent"]) {
    <h3>Email sent succesfully to @ViewData["to"]</h3>
} else {
    <h3>@ViewData["message"]</h3>    
}
