@{
    ViewData["Title"] = "Purchase Order";
}

<h2>Purchase Order from Wazalo.com</h2>
<br>
@if((bool)ViewData["emailSent"]) {
    <div class="alert alert-success">
        <strong>Success!</strong> Email sent succesfully to @ViewData["to"]
    </div>
} else {
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewData["errorMessage"].
    </div>    
}
