@model Order
@{
    ViewData["Title"] = "Order " + @Model.Name;
    var order = @Model; 
}

<h2>Order: @ViewData["id"]</h2>

<div class="container">
    <div class="row align-items-center mt-3">
        <div class="col-md-12">
@await Html.PartialAsync(
    "OrderPartial",
    Model,
    new ViewDataDictionary(this.ViewData) {
        { "orderPage", true }
    }
)
        </div>
    </div>
</div>

 @section Scripts { 
 <script type="text/javascript">
        $(function() { // will trigger when the document is ready 
            $(".loadlater").each(function(index, element) {
                var url = $(element).data('src');

                $.get( url, function( src ) {        
                    $(element).attr("src", src);        
                });
            });
        });
</script>
}
