@model Order
@{
    ViewData["Title"] = "Order " + @Model.Name;
    var order = @Model; 
}

<h2>Order: @ViewData["id"]</h2>

@await Html.PartialAsync(
    "OrderPartial",
    Model,
    new ViewDataDictionary(this.ViewData) {
        { "orderPage", true }
    }
)
